<% include header %>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link boardId" href="#" data-board-id="<%=boardId %>"><%= boardName %></a>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">TM</a>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
  </nav>

<div id="target-body">
  <% for (var i = 0; i < categories.length; i++){ %>
    <div class="column">
      <div class="card categoryCard" style="width: 18rem;">
        <div class="card-body">
          <h5 id="<%= categories[i].categoryId %>" class="card-title cardTask"><%= categories[i].categoryName %></h5>
            <div class="editCategoryButtons">
            <button id="editButton<%= categories[i].categoryId %>" type="button" class="btn btn-outline-primary editCategoryButton" data-toggle="modal" data-target="#editCategoryModal" data-category-id="<%= categories[i].categoryId %>" data-category-name="<%= categories[i].categoryName %>" data-board-id="<%=boardId%>">
              Edit
            </button>
            <button type="button" class="btn btn-outline-danger deleteCategoryButton" data-toggle="modal" data-target="#deleteCategoryModal" data-category-id="<%= categories[i].categoryId %>" data-board-id="<%= boardId %>">
              Delete
            </button>
          </div>
          <a href="#" data-toggle="modal" data-target="#addTaskModal" data-board-id="<%= boardId %>" data-category-id="<%= categories[i].categoryId %>" class="card-text addTaskButton">+ Add New Tasks</a>
        </div>
        <ul  id="sortable<%= categories[i].categoryId %>" class="list-group list-group-flush connectedSortable" data-category-id="<%= categories[i].categoryId %>">
            <!-- <i class="fa fa-spinner fa-spin" id="loadIcon<%=categories[i].categoryId %>"></i> -->
        </ul>
      </div>
    </div>
  <% } %>

  <div class="column">
      <div class="card" style="width: 18rem;">
        <a href="#" data-toggle="modal" data-target="#addCategoryModal" class="card-body">
          <h5 class="card-title">Add Category</h5>
        </a>
      </div>
  </div>
</div>

  <!-- Add Category Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addCategoryTitle-form">
            <div class="addCategoryPage">
              <div class="addCategoryModal-error-container">
              </div>
              <input class="title" type="text" name="categoryTitle" placeholder="Category Title">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button id="btn-cancelAddCategoryPage" type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
          <button id="btn-submitAddCategoryPage" type="button" class="btn btn-outline-success" data-board-id="<%=boardId%>">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Task Modal -->
  <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addTask-form">
            <div class="addTaskPage">
              <div class="addTaskModal-error-container">
              </div>
                <input class="title" type="text" name="taskDescription" placeholder="Task Description">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button id="btn-cancelAddTaskPage" type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
          <button id="btn-submitAddTaskPage" type="button" class="btn btn-outline-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Category Modal -->
  <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCategoryModalLabel">Edit Category Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editCategoryTitle-form">
            <div class="editCategoryPage">
              <div class="editCategoryModal-error-container">
              </div>
                <input class="title" type="text" name="categoryTitle">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button id="btn-cancelEditCategoryPage" type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
          <button id="btn-submitEditCategoryPage" type="button" class="btn btn-outline-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Category Modal -->
  <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="deleteCategory-form">
            <div class="deleteCategoryPage">
                <p>Are you sure you want to delete this category? Deleting the category will delete all the tasks associated with it.</p>
                <button id="btn-deleteCategory" type="button" class="btn btn-outline-danger" data-dismiss="modal">Delete</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    var categoryId;
    var categoryName;
    var boardId = $('.boardId').attr('data-board-id');
    var button;

    $.ajax({
      type: "GET",
      url: `/board/${boardId}/categories`,
      dataType: "json"
      })
      .done(function(json){
        for (i = 0;i < json.length; i++){
          loadTasks(json[i].categoryId);
        }
      });

    function getTaskId(categoryId, taskName){
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "GET",
          url: `/board/${boardId}/category/${categoryId}/task/${taskName}`,
          dataType: "json"
        })
        .done(function(json){
          resolve({taskId: json.taskId, taskName: json.taskName});
        })
        .error(function(err){
          reject(err);
        })
    })
  }

    function loadTasks(categoryId){
      $.ajax({
        type: "GET",
        url: `/board/${boardId}/category/${categoryId}/task/load`,
        dataType: "json"
      })
      .done(function(json){
        for (i = 0; i < json.taskArray.length; i++){
          var taskIdPromise = getTaskId(json.categoryId, json.taskArray[i]);
          taskIdPromise.then(result => {
            console.log("TASK ", result);
              // $(`#loadIcon${categoryId}`).css('display', 'none');
            $(`#sortable${json.categoryId}`).prepend(`<li id="${result.taskId}" class="list-group-item ui-state-default" data-category-id="${json.categoryId}">${result.taskName}<button type="button" class="close deleteTask" aria-label="Close" data-task-id="${result.taskId}"><span>&times;</span></button></li>`);
            createSortable(json.categoryId);
          })
          .catch(error => {
            console.log(error);
          })

        }
      })
    }

     $('#target-body').on('click', '.addTaskButton', function(event){
       button = $(this);
       categoryId = button.attr('data-category-id');
       boardId = button.attr('data-board-id');
     });

     $('#btn-submitAddTaskPage').on('click', function(event){
       $.ajax({
         type: "POST",
         url: `/board/${boardId}/category/${categoryId}/task`,
         data: $('#addTask-form').serialize(),
         dataType: "json",
       })
       .done(function(json){
         if (json.err){
           $('.addTaskModal-error-container').html(json.err);
           $('.addTaskModal-error-container').css("display", "block");
         }else{
           //add task into list
           $(`#sortable${json.categoryId}`).prepend(`<li id="${json.taskId}" class="list-group-item ui-state-default" data-category-id="${json.categoryId}">${json.taskName}<button type="button" class="close deleteTask" aria-label="Close" data-task-id="${json.taskId}"><span>&times;</span></button></li>`);

           $('#addTaskModal').modal('hide');
           $('#addTask-form')[0].reset();
           updateOrder(json.categoryId);
           createSortable(json.categoryId);
         }
       })
     });

     function createSortable(categoryId){
       $(`#sortable${categoryId}`).sortable({
         connectWith: ".connectedSortable",
         receive: function(event, ui){
           var taskArray = $(this).sortable('toArray');
           console.log("Receive sortable ", taskArray);
           updateOrder(categoryId);
           console.log(ui.item["0"].id);
           updateTaskTable(categoryId, ui.item["0"].id);
         },
         remove: function(event, ui){
           var taskArray = $(this).sortable('toArray');
           console.log("Remove sortable ", taskArray);
           updateOrder(categoryId);
         }
       });
     };

     function updateTaskTable(newCategoryId, taskId){
       $.ajax({
         type: "PUT",
         url: `/board/${boardId}/category/${newCategoryId}/task/${taskId}`
       })
       .done(function(result){

       })
     };

     function updateOrder(categoryId){
       var taskArray = [];
       $(`#sortable${categoryId}>li`).each(function(){
         // taskArray.push(parseInt($(this).attr('id')));
         taskArray.push($(this).contents().get(0).nodeValue);
       });
       console.log("ARRAY ", taskArray);
       $.ajax({
         type: "POST",
         url: `/board/${boardId}/category/${categoryId}/task/order`,
         data: {array: taskArray}
       })
       .done(function(result){

       })
     };

     $('#target-body').on('click', '.deleteTask', function(event){
       button = $(this);
       taskId = button.attr('data-task-id');
       categoryId = button.parent().parent().attr('data-category-id');
       $.ajax({
         type: "DELETE",
         url: `/board/${boardId}/category/${categoryId}/task/${taskId}`
       })
       .done(function(response){
         button.parent().remove();
         updateOrder(categoryId);
       })
     });

     $('#btn-submitAddCategoryPage').on('click', function(event){
       var button = $(this);
       var boardId = button.attr('data-board-id');
       $.ajax({
         type: "POST",
         url: `/board/${boardId}/category`,
         data: $('#addCategoryTitle-form').serialize(),
         dataType: "json",
       })
       .done(function(json){
         if (json.err){
           $('.addCategoryModal-error-container').html(json.err);
           $('.addCategoryModal-error-container').css("display", "block");
         }else{
           //add new category with title
           $('#target-body').prepend(`<div class="column">
             <div class="card categoryCard" style="width: 18rem;">
               <div class="card-body">
                 <h5 id="${json.categoryId}" class="card-title cardTask">${json.categoryName}</h5>
                  <div class="editBoardButtons">
                   <button id="editButton${json.categoryId}" type="button" class="btn btn-outline-primary editCategoryButton" data-toggle="modal" data-target="#editCategoryModal" data-category-id="${json.categoryId}" data-category-name="${json.categoryName}" data-board-id="${json.boardId}">
                     Edit
                   </button>
                   <button type="button" class="btn btn-outline-danger deleteCategoryButton" data-toggle="modal" data-target="#deleteCategoryModal" data-category-id="${json.categoryId}" data-board-id="${json.boardId}">
                     Delete
                   </button>
                 </div>
                 <a href="#" data-toggle="modal" data-target="#addTaskModal" data-board-id="${json.boardId}" data-category-id="${json.categoryId}" class="card-text addTaskButton">+ Add New Tasks</a>
               </div>
               <ul  id="sortable${json.categoryId}" class="list-group list-group-flush connectedSortable" data-category-id="${json.categoryId}">
               </ul>
             </div>
           </div>`);

           $('#addCategoryModal').modal('hide');
           $('#addCategoryTitle-form')[0].reset();
         }
       });
       event.preventDefault();
     });

     $('#target-body').on('click', '.deleteCategoryButton', function(event){
       button = $(this);
       categoryId = button.attr('data-category-id');
       boardId = button.attr('data-board-id');
     });

     $('#btn-deleteCategory').on('click', function(event){
       $.ajax({
         type: "DELETE",
         url: `/board/${boardId}/category/${categoryId}`
       })
       .done(function(response){
         button.parent().parent().parent().parent().remove();
       });
     });

    $('#btn-submitEditCategoryPage').on('click', function(event){
         $.ajax({
           type: "PUT",
           url: `/board/${boardId}/category/${categoryId}`,
           data: $('#editCategoryTitle-form').serialize(),
           dataType: "json",
         })
         .done(function(response){
           if (response.err){
             $('.editCategoryModal-error-container').html(response.err);
             $('.editCategoryModal-error-container').css("display", "block");
           }else{
             //edit category with new title
            $(`#${response.categoryId}`).replaceWith(`<h5 id="${response.categoryId}" class="card-title cardTask">${response.categoryName}</h5>`);
            $(`#editButton${response.categoryId}`).replaceWith(`<button id="editButton${response.categoryId}" type="button" class="btn btn-outline-primary editCategoryButton" data-toggle="modal" data-target="#editCategoryModal" data-category-id="${response.categoryId}" data-category-name="${response.categoryName}" data-board-id="${response.boardId}">
              Edit
            </button>`);

             $('#editCategoryModal').modal('hide');
             $('#editCategoryTitle-form')[0].reset();
           }
         });
         event.preventDefault();
       });

     $('#target-body').on('click', '.editCategoryButton', function(event){
       var button = $(this);
       categoryId = button.attr('data-category-id');
       categoryName = button.attr('data-category-name');
       boardId = button.attr('data-board-id');
       $('.editCategoryModal-error-container').css("display", "none");
       $("#editCategoryModal [name='categoryTitle']").attr("value", categoryName);
     });

  });
</script>
<%include footer %>
